body {
    background-color:hsla(43, 93%, 16%, 0.5);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parts {
    color: hsla(102, 86%, 17%, 0.90);
    border-bottom: 3px solid black;
    text-align:center;
    margin: 0;
    padding: 20px 0px;
}
button {
    font-size:16px;
    padding: 4px 12px;
    border-radius: 12px;
    border: 2px solid black;
    margin-right:10px;
    color: hsla(102, 86%, 17%, 0.90);
    background-color: hsla(182, 64%, 73%, 0.821);
}